<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="ui container">
                <div class="header item"><i class="linkify icon"></i> Blog Site</div>
                <a class="item" href="/">Home</a>
                <a class="item" href="/blogs/new">New Blog</a>
            </div>
        </div>
        